<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fgcu.codelearner" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fgcu_logo"
        android:label="FGCU codeLearner"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgramStructure"
            android:label="@string/title_activity_program_structure"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Variables"
            android:label="@string/title_activity_variables"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".BooleanLogic"
            android:label="@string/title_activity_boolean_logic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Operators"
            android:label="@string/title_activity_operators"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".ConditionalStatements"
            android:label="@string/title_activity_conditional_statements"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Loops"
            android:label="@string/title_activity_loops"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".FunctionsMethods"
            android:label="@string/title_activity_functions_methods"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Classes"
            android:label="@string/title_activity_classes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Objects"
            android:label="@string/title_activity_objects"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Binary"
            android:label="@string/title_activity_binary"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".DataStructures"
            android:label="@string/title_activity_program_structure"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".JavaBasics"
            android:label="@string/title_activity_java_basics"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".CCBasics"
            android:label="@string/title_activity_cbasics"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>
        <activity
            android:name=".Types"
            android:label="@string/title_activity_comparisons"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.MainActivity" />
        </activity>

        /* QUIZ ACTIVITIES */

        <activity
            android:name=".VariablesQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Variables" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Variables" />
        </activity>
        <activity
            android:name=".BinaryQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Binary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Binary" />
        </activity>
        <activity
            android:name=".BooleanLogicQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".BooleanLogic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.BooleanLogic" />
        </activity>
        <activity
            android:name=".ClassesQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Classes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Classes" />
        </activity>
        <activity
            android:name=".ConditionalStatementsQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".ConditionalStatements" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.ConditionalStatements" />
        </activity>
        <activity
            android:name=".FunctionsMethodsQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".FunctionsMethods" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.FunctionsMethods" />
        </activity>
        <activity
            android:name=".LoopsQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Loops" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Loops" />
        </activity>
        <activity
            android:name=".ObjectsQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Objects" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Objects" />
        </activity>
        <activity
            android:name=".OperatorsQuiz"
            android:label="@string/title_activity_variables_quiz"
            android:parentActivityName=".Operators" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Operators" />
        </activity>
        <activity
            android:name=".DataStructuresQuiz"
            android:label="@string/title_activity_program_structure"
            android:parentActivityName=".DataStructures" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.DataStructures" />
        </activity>
        <activity
            android:name=".ProgramStructureQuiz"
            android:label="@string/title_activity_program_structure"
            android:parentActivityName=".ProgramStructure" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.ProgramStructure" />
        </activity>
        <activity
            android:name=".TypesQuiz"
            android:label="@string/title_activity_program_structure"
            android:parentActivityName=".Types" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fgcu.codelearner.Types" />
        </activity>

    </application>

</manifest>
